<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.order.mapper.OrderOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.order.domain.model.OrderOperateLog">
    <!--@mbg.generated-->
    <!--@Table order_operate_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_info_id" jdbcType="BIGINT" property="orderInfoId" />
    <result column="operate_type" jdbcType="TINYINT" property="operateType" />
    <result column="operate_content" jdbcType="VARCHAR" property="operateContent" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_info_id, operate_type, operate_content, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from order_operate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from order_operate_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.order.domain.model.OrderOperateLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into order_operate_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderInfoId != null">
        order_info_id,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="operateContent != null">
        operate_content,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderInfoId != null">
        #{orderInfoId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=TINYINT},
      </if>
      <if test="operateContent != null">
        #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.order.domain.model.OrderOperateLog">
    <!--@mbg.generated-->
    update order_operate_log
    <set>
      <if test="orderInfoId != null">
        order_info_id = #{orderInfoId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=TINYINT},
      </if>
      <if test="operateContent != null">
        operate_content = #{operateContent,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
