<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.comment.mapper.CommentInfoMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.comment.domain.model.CommentInfo">
    <!--@mbg.generated-->
    <!--@Table comment_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account_id" jdbcType="BIGINT" property="userAccountId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="order_info_id" jdbcType="BIGINT" property="orderInfoId" />
    <result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_sku_id" jdbcType="BIGINT" property="goodsSkuId" />
    <result column="goods_sku_sale_properties" jdbcType="VARCHAR" property="goodsSkuSaleProperties" />
    <result column="total_score" jdbcType="TINYINT" property="totalScore" />
    <result column="goods_score" jdbcType="TINYINT" property="goodsScore" />
    <result column="customer_service_score" jdbcType="TINYINT" property="customerServiceScore" />
    <result column="logistics_score" jdbcType="TINYINT" property="logisticsScore" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="is_show_pictures" jdbcType="TINYINT" property="isShowPictures" />
    <result column="is_default_comment" jdbcType="TINYINT" property="isDefaultComment" />
    <result column="comment_status" jdbcType="TINYINT" property="commentStatus" />
    <result column="comment_type" jdbcType="TINYINT" property="commentType" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_account_id, username, order_info_id, order_item_id, goods_id, goods_sku_id,
    goods_sku_sale_properties, total_score, goods_score, customer_service_score, logistics_score,
    comment_content, is_show_pictures, is_default_comment, comment_status, comment_type,
    gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from comment_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from comment_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.comment.domain.model.CommentInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into comment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userAccountId != null">
        user_account_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="orderInfoId != null">
        order_info_id,
      </if>
      <if test="orderItemId != null">
        order_item_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsSkuId != null">
        goods_sku_id,
      </if>
      <if test="goodsSkuSaleProperties != null">
        goods_sku_sale_properties,
      </if>
      <if test="totalScore != null">
        total_score,
      </if>
      <if test="goodsScore != null">
        goods_score,
      </if>
      <if test="customerServiceScore != null">
        customer_service_score,
      </if>
      <if test="logisticsScore != null">
        logistics_score,
      </if>
      <if test="commentContent != null">
        comment_content,
      </if>
      <if test="isShowPictures != null">
        is_show_pictures,
      </if>
      <if test="isDefaultComment != null">
        is_default_comment,
      </if>
      <if test="commentStatus != null">
        comment_status,
      </if>
      <if test="commentType != null">
        comment_type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userAccountId != null">
        #{userAccountId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="orderInfoId != null">
        #{orderInfoId,jdbcType=BIGINT},
      </if>
      <if test="orderItemId != null">
        #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsSkuId != null">
        #{goodsSkuId,jdbcType=BIGINT},
      </if>
      <if test="goodsSkuSaleProperties != null">
        #{goodsSkuSaleProperties,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=TINYINT},
      </if>
      <if test="goodsScore != null">
        #{goodsScore,jdbcType=TINYINT},
      </if>
      <if test="customerServiceScore != null">
        #{customerServiceScore,jdbcType=TINYINT},
      </if>
      <if test="logisticsScore != null">
        #{logisticsScore,jdbcType=TINYINT},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="isShowPictures != null">
        #{isShowPictures,jdbcType=TINYINT},
      </if>
      <if test="isDefaultComment != null">
        #{isDefaultComment,jdbcType=TINYINT},
      </if>
      <if test="commentStatus != null">
        #{commentStatus,jdbcType=TINYINT},
      </if>
      <if test="commentType != null">
        #{commentType,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.comment.domain.model.CommentInfo">
    <!--@mbg.generated-->
    update comment_info
    <set>
      <if test="userAccountId != null">
        user_account_id = #{userAccountId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="orderInfoId != null">
        order_info_id = #{orderInfoId,jdbcType=BIGINT},
      </if>
      <if test="orderItemId != null">
        order_item_id = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsSkuId != null">
        goods_sku_id = #{goodsSkuId,jdbcType=BIGINT},
      </if>
      <if test="goodsSkuSaleProperties != null">
        goods_sku_sale_properties = #{goodsSkuSaleProperties,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=TINYINT},
      </if>
      <if test="goodsScore != null">
        goods_score = #{goodsScore,jdbcType=TINYINT},
      </if>
      <if test="customerServiceScore != null">
        customer_service_score = #{customerServiceScore,jdbcType=TINYINT},
      </if>
      <if test="logisticsScore != null">
        logistics_score = #{logisticsScore,jdbcType=TINYINT},
      </if>
      <if test="commentContent != null">
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="isShowPictures != null">
        is_show_pictures = #{isShowPictures,jdbcType=TINYINT},
      </if>
      <if test="isDefaultComment != null">
        is_default_comment = #{isDefaultComment,jdbcType=TINYINT},
      </if>
      <if test="commentStatus != null">
        comment_status = #{commentStatus,jdbcType=TINYINT},
      </if>
      <if test="commentType != null">
        comment_type = #{commentType,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
