<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.purchase.mapper.PurchaseSupplierMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.purchase.domain.model.PurchaseSupplier">
    <!--@mbg.generated-->
    <!--@Table purchase_supplier-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="contactor" jdbcType="VARCHAR" property="contactor" />
    <result column="contactor_phone_number" jdbcType="VARCHAR" property="contactorPhoneNumber" />
    <result column="settlement_period" jdbcType="TINYINT" property="settlementPeriod" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_account_holder" jdbcType="VARCHAR" property="bankAccountHolder" />
    <result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="taxpayer_id" jdbcType="VARCHAR" property="taxpayerId" />
    <result column="business_scope" jdbcType="VARCHAR" property="businessScope" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, company_name, company_address, contactor, contactor_phone_number, settlement_period,
    bank_name, bank_account, bank_account_holder, invoice_title, taxpayer_id, business_scope,
    remark, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from purchase_supplier
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from purchase_supplier
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.purchase.domain.model.PurchaseSupplier" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into purchase_supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="contactor != null">
        contactor,
      </if>
      <if test="contactorPhoneNumber != null">
        contactor_phone_number,
      </if>
      <if test="settlementPeriod != null">
        settlement_period,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="bankAccountHolder != null">
        bank_account_holder,
      </if>
      <if test="invoiceTitle != null">
        invoice_title,
      </if>
      <if test="taxpayerId != null">
        taxpayer_id,
      </if>
      <if test="businessScope != null">
        business_scope,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null">
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="contactorPhoneNumber != null">
        #{contactorPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="settlementPeriod != null">
        #{settlementPeriod,jdbcType=TINYINT},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountHolder != null">
        #{bankAccountHolder,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTitle != null">
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerId != null">
        #{taxpayerId,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null">
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.purchase.domain.model.PurchaseSupplier">
    <!--@mbg.generated-->
    update purchase_supplier
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null">
        contactor = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="contactorPhoneNumber != null">
        contactor_phone_number = #{contactorPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="settlementPeriod != null">
        settlement_period = #{settlementPeriod,jdbcType=TINYINT},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountHolder != null">
        bank_account_holder = #{bankAccountHolder,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTitle != null">
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerId != null">
        taxpayer_id = #{taxpayerId,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null">
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
