<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.finance.mapper.FinanceReturnGoodsRefundDetailMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.finance.domain.dao.FinanceReturnGoodsRefundDetail">
    <!--@mbg.generated-->
    <!--@Table finance_return_goods_refund_detail-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="return_goods_worksheet_id" jdbcType="BIGINT" property="returnGoodsWorksheetId" />
    <result column="return_goods_warehouse_entry_order_id" jdbcType="BIGINT" property="returnGoodsWarehouseEntryOrderId" />
    <result column="user_account_id" jdbcType="BIGINT" property="userAccountId" />
    <result column="refundl_amount" jdbcType="DECIMAL" property="refundlAmount" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, order_no, return_goods_worksheet_id, return_goods_warehouse_entry_order_id, 
    user_account_id, refundl_amount, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from finance_return_goods_refund_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from finance_return_goods_refund_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.finance.domain.dao.FinanceReturnGoodsRefundDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into finance_return_goods_refund_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="returnGoodsWorksheetId != null">
        return_goods_worksheet_id,
      </if>
      <if test="returnGoodsWarehouseEntryOrderId != null">
        return_goods_warehouse_entry_order_id,
      </if>
      <if test="userAccountId != null">
        user_account_id,
      </if>
      <if test="refundlAmount != null">
        refundl_amount,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="returnGoodsWorksheetId != null">
        #{returnGoodsWorksheetId,jdbcType=BIGINT},
      </if>
      <if test="returnGoodsWarehouseEntryOrderId != null">
        #{returnGoodsWarehouseEntryOrderId,jdbcType=BIGINT},
      </if>
      <if test="userAccountId != null">
        #{userAccountId,jdbcType=BIGINT},
      </if>
      <if test="refundlAmount != null">
        #{refundlAmount,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.finance.domain.dao.FinanceReturnGoodsRefundDetail">
    <!--@mbg.generated-->
    update finance_return_goods_refund_detail
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="returnGoodsWorksheetId != null">
        return_goods_worksheet_id = #{returnGoodsWorksheetId,jdbcType=BIGINT},
      </if>
      <if test="returnGoodsWarehouseEntryOrderId != null">
        return_goods_warehouse_entry_order_id = #{returnGoodsWarehouseEntryOrderId,jdbcType=BIGINT},
      </if>
      <if test="userAccountId != null">
        user_account_id = #{userAccountId,jdbcType=BIGINT},
      </if>
      <if test="refundlAmount != null">
        refundl_amount = #{refundlAmount,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>