<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.membership.mapper.MembershipMemberPointDetailMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.membership.domain.dao.MembershipMemberPointDetail">
    <!--@mbg.generated-->
    <!--@Table membership_member_point_detail-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account_id" jdbcType="BIGINT" property="userAccountId" />
    <result column="old_member_point" jdbcType="BIGINT" property="oldMemberPoint" />
    <result column="updated_member_point" jdbcType="BIGINT" property="updatedMemberPoint" />
    <result column="new_member_point" jdbcType="BIGINT" property="newMemberPoint" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="update_reason" jdbcType="VARCHAR" property="updateReason" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_account_id, old_member_point, updated_member_point, new_member_point, gmt_create, 
    gmt_modified, update_reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from membership_member_point_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from membership_member_point_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.membership.domain.dao.MembershipMemberPointDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into membership_member_point_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userAccountId != null">
        user_account_id,
      </if>
      <if test="oldMemberPoint != null">
        old_member_point,
      </if>
      <if test="updatedMemberPoint != null">
        updated_member_point,
      </if>
      <if test="newMemberPoint != null">
        new_member_point,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="updateReason != null">
        update_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userAccountId != null">
        #{userAccountId,jdbcType=BIGINT},
      </if>
      <if test="oldMemberPoint != null">
        #{oldMemberPoint,jdbcType=BIGINT},
      </if>
      <if test="updatedMemberPoint != null">
        #{updatedMemberPoint,jdbcType=BIGINT},
      </if>
      <if test="newMemberPoint != null">
        #{newMemberPoint,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="updateReason != null">
        #{updateReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.membership.domain.dao.MembershipMemberPointDetail">
    <!--@mbg.generated-->
    update membership_member_point_detail
    <set>
      <if test="userAccountId != null">
        user_account_id = #{userAccountId,jdbcType=BIGINT},
      </if>
      <if test="oldMemberPoint != null">
        old_member_point = #{oldMemberPoint,jdbcType=BIGINT},
      </if>
      <if test="updatedMemberPoint != null">
        updated_member_point = #{updatedMemberPoint,jdbcType=BIGINT},
      </if>
      <if test="newMemberPoint != null">
        new_member_point = #{newMemberPoint,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="updateReason != null">
        update_reason = #{updateReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>