<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.wms.mapper.WmsPurchaseInputOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.wms.domain.dao.WmsPurchaseInputOrderItem">
    <!--@mbg.generated-->
    <!--@Table wms_purchase_input_order_item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_input_order_id" jdbcType="BIGINT" property="purchaseInputOrderId" />
    <result column="goods_sku_id" jdbcType="BIGINT" property="goodsSkuId" />
    <result column="purchase_count" jdbcType="BIGINT" property="purchaseCount" />
    <result column="purchase_price" jdbcType="BIGINT" property="purchasePrice" />
    <result column="qualified_count" jdbcType="BIGINT" property="qualifiedCount" />
    <result column="arrival_count" jdbcType="BIGINT" property="arrivalCount" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, purchase_input_order_id, goods_sku_id, purchase_count, purchase_price, qualified_count, 
    arrival_count, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wms_purchase_input_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from wms_purchase_input_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.wms.domain.dao.WmsPurchaseInputOrderItem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wms_purchase_input_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purchaseInputOrderId != null">
        purchase_input_order_id,
      </if>
      <if test="goodsSkuId != null">
        goods_sku_id,
      </if>
      <if test="purchaseCount != null">
        purchase_count,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="qualifiedCount != null">
        qualified_count,
      </if>
      <if test="arrivalCount != null">
        arrival_count,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purchaseInputOrderId != null">
        #{purchaseInputOrderId,jdbcType=BIGINT},
      </if>
      <if test="goodsSkuId != null">
        #{goodsSkuId,jdbcType=BIGINT},
      </if>
      <if test="purchaseCount != null">
        #{purchaseCount,jdbcType=BIGINT},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=BIGINT},
      </if>
      <if test="qualifiedCount != null">
        #{qualifiedCount,jdbcType=BIGINT},
      </if>
      <if test="arrivalCount != null">
        #{arrivalCount,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.wms.domain.dao.WmsPurchaseInputOrderItem">
    <!--@mbg.generated-->
    update wms_purchase_input_order_item
    <set>
      <if test="purchaseInputOrderId != null">
        purchase_input_order_id = #{purchaseInputOrderId,jdbcType=BIGINT},
      </if>
      <if test="goodsSkuId != null">
        goods_sku_id = #{goodsSkuId,jdbcType=BIGINT},
      </if>
      <if test="purchaseCount != null">
        purchase_count = #{purchaseCount,jdbcType=BIGINT},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=BIGINT},
      </if>
      <if test="qualifiedCount != null">
        qualified_count = #{qualifiedCount,jdbcType=BIGINT},
      </if>
      <if test="arrivalCount != null">
        arrival_count = #{arrivalCount,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>