<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.promotion.mapper.PromotionCouponMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.promotion.domain.model.PromotionCoupon">
    <!--@mbg.generated-->
    <!--@Table promotion_coupon-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
    <result column="valid_start_time" jdbcType="TIMESTAMP" property="validStartTime" />
    <result column="valid_end_time" jdbcType="TIMESTAMP" property="validEndTime" />
    <result column="give_out_count" jdbcType="BIGINT" property="giveOutCount" />
    <result column="received_count" jdbcType="BIGINT" property="receivedCount" />
    <result column="give_out_type" jdbcType="TINYINT" property="giveOutType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `type`, `rule`, valid_start_time, valid_end_time, give_out_count, received_count,
    give_out_type, `status`, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from promotion_coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from promotion_coupon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.promotion.domain.model.PromotionCoupon" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into promotion_coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="rule != null">
        `rule`,
      </if>
      <if test="validStartTime != null">
        valid_start_time,
      </if>
      <if test="validEndTime != null">
        valid_end_time,
      </if>
      <if test="giveOutCount != null">
        give_out_count,
      </if>
      <if test="receivedCount != null">
        received_count,
      </if>
      <if test="giveOutType != null">
        give_out_type,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="rule != null">
        #{rule,jdbcType=VARCHAR},
      </if>
      <if test="validStartTime != null">
        #{validStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndTime != null">
        #{validEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="giveOutCount != null">
        #{giveOutCount,jdbcType=BIGINT},
      </if>
      <if test="receivedCount != null">
        #{receivedCount,jdbcType=BIGINT},
      </if>
      <if test="giveOutType != null">
        #{giveOutType,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.promotion.domain.model.PromotionCoupon">
    <!--@mbg.generated-->
    update promotion_coupon
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="rule != null">
        `rule` = #{rule,jdbcType=VARCHAR},
      </if>
      <if test="validStartTime != null">
        valid_start_time = #{validStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndTime != null">
        valid_end_time = #{validEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="giveOutCount != null">
        give_out_count = #{giveOutCount,jdbcType=BIGINT},
      </if>
      <if test="receivedCount != null">
        received_count = #{receivedCount,jdbcType=BIGINT},
      </if>
      <if test="giveOutType != null">
        give_out_type = #{giveOutType,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
