<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhss.eshop.customer.mapper.CustomerReturnGoodsWorksheetMapper">
  <resultMap id="BaseResultMap" type="com.zhss.eshop.customer.domain.dao.CustomerReturnGoodsWorksheet">
    <!--@mbg.generated-->
    <!--@Table customer_return_goods_worksheet-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_info_id" jdbcType="BIGINT" property="orderInfoId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="return_goods_reason" jdbcType="TINYINT" property="returnGoodsReason" />
    <result column="return_goods_remark" jdbcType="VARCHAR" property="returnGoodsRemark" />
    <result column="return_goods_logistics_code" jdbcType="VARCHAR" property="returnGoodsLogisticsCode" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_info_id, order_no, `status`, return_goods_reason, return_goods_remark, 
    return_goods_logistics_code, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from customer_return_goods_worksheet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from customer_return_goods_worksheet
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhss.eshop.customer.domain.dao.CustomerReturnGoodsWorksheet" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into customer_return_goods_worksheet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderInfoId != null">
        order_info_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="returnGoodsReason != null">
        return_goods_reason,
      </if>
      <if test="returnGoodsRemark != null">
        return_goods_remark,
      </if>
      <if test="returnGoodsLogisticsCode != null">
        return_goods_logistics_code,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderInfoId != null">
        #{orderInfoId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="returnGoodsReason != null">
        #{returnGoodsReason,jdbcType=TINYINT},
      </if>
      <if test="returnGoodsRemark != null">
        #{returnGoodsRemark,jdbcType=VARCHAR},
      </if>
      <if test="returnGoodsLogisticsCode != null">
        #{returnGoodsLogisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhss.eshop.customer.domain.dao.CustomerReturnGoodsWorksheet">
    <!--@mbg.generated-->
    update customer_return_goods_worksheet
    <set>
      <if test="orderInfoId != null">
        order_info_id = #{orderInfoId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="returnGoodsReason != null">
        return_goods_reason = #{returnGoodsReason,jdbcType=TINYINT},
      </if>
      <if test="returnGoodsRemark != null">
        return_goods_remark = #{returnGoodsRemark,jdbcType=VARCHAR},
      </if>
      <if test="returnGoodsLogisticsCode != null">
        return_goods_logistics_code = #{returnGoodsLogisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>